<ul>
  <li *ngFor="let category of categories">
    <div class="d-flex align-items-start flex-column">
      <div class="list-item">
        <button type="button" [disabled]="!category.hasChild" (click)="getChild(category)" mat-icon-button>
          <mat-icon>{{ !!category.subCategories && category.subCategories?.length > 0 ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
        </button>
        <mat-radio-button [disabled]="!editable" (click)="selectCategory(category)" [checked]="category.checked" color="primary" *ngIf="!multiple">
          <h4>{{ category.name }}</h4>
        </mat-radio-button>
        <mat-checkbox
          [disabled]="!editable"
          (change)="selectCategory(category, $event.checked)"
          [checked]="category.checked"
          color="primary"
          *ngIf="multiple"
        >
          <h4>{{ category.name }}</h4>
        </mat-checkbox>
      </div>

      <span *ngIf="category.subCategories">
        <app-category-recursion-model
          [editable]="editable"
          [multiSelected]="multiSelected"
          [multiple]="multiple"
          ($getChild)="getChild($event)"
          (selectedCategory)="selectedCategory.emit($event)"
          [categories]="category.subCategories"
        ></app-category-recursion-model>
      </span>
      <span *ngIf="category.cpvCodes">
        <p *ngFor="let cpvCode of category.cpvCodes" class="ml-5">{{ cpvCode.name }}</p>
      </span>
    </div>
  </li>
</ul>
