<div class="wrapper">
  <mat-accordion>
    <mat-expansion-panel [expanded]="expanded" class="rounded-0">
      <mat-expansion-panel-header class="bg-primary rounded-0">
        <mat-panel-title class="text-white">{{ title }}</mat-panel-title>
        <mat-panel-description class="text-white">{{ selectedCategoryName }}</mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="category" [ngClass]="{'h-100': fullHeight}">
          <mat-form-field class="px-5 mt-3 w-50">
            <mat-label> Keyword </mat-label>
            <input matInput placeholder="enter a keyword" name="keyword" [(ngModel)]="keyword" (change)="filterCategories()" />
          </mat-form-field>
          <app-category-recursion-model
            [editable]="editable"
            (selectedCategory)="selectedCategory.emit($event)"
            [multiple]="multiple"
            [categories]="categories"
            ($getChild)="getChild($event)"
          ></app-category-recursion-model>
        </div>
      </ng-template>
      <mat-progress-bar mode="indeterminate" color="primary" *ngIf="loadingState"></mat-progress-bar>
    </mat-expansion-panel>
  </mat-accordion>
</div>
